@import './styles/base.css';
@import './styles/layout.css';
@import './styles/typography.css';

@import './styles/components/button.css'; 
@import './styles/components/navbar.css'; 
@import './styles/components/footer.css'; 
@import './styles/components/posts.css';
@import './styles/components/pagination.css'; 
@import './styles/components/form.css'; 
@import './styles/components/loader.css'; 

@import './styles/pages/home.css';
@import './styles/pages/authors.css';
@import './styles/pages/profile.css';
@import './styles/pages/dashboard.css';

@import './styles/media-queries.css';

.center {
  text-align: center;
  padding: 4rem 1rem;
  margin-inline: center;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-gray-500);
}

.error-page h2 {
  margin-top: 3rem;
}

.posts__container,
.authors__container,
.footer__categories {
  flex-wrap: wrap;
}
