/* MEDIA QUERIES(sm) */

@media screen and (max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.35rem;
    }
  
    .container {
      width: var(--container-width-md);
    }
  
    .posts__container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  
    .footer__categories {
      flex-direction: column;
    }
  
    /* .post-detail {
      width: 100%;
      background: transparent;
      padding: 0;
    }
  
    .post-detail h1 {
      margin-top: 1rem;
    } */
  
    .register,
    .login,
    .create-post {
      width: 100%;
    }
  
    .form.profile__form {
      margin-top: 2.5rem;
      width: 100%;
    }
  
    .dashboard__post {
      flex-direction: column;
    }
  
    .dashboard__post-info {
      gap: 1.5rem;
    }
  
    .dashboard__post-thumbnail {
      width: 5rem;
    }
  }